doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    title Blog
  body(style="background-color:#141414;")
  .container() 
    nav.navbar.navbar-dark.bg-dark
      ul(class="navbar-nav mr-auto mt-2 mt-lg-0")
        li(class="navbar nav-item") 
            a(href="/", class="nav-link") Home Page
        li(class="navbar nav-item") 
          a(href="/about", class="nav-link") About
    .container
      h1(style="color:#5F85DB;") BLOG
      a.btn(href="/articles/new") New
      hr
      each article, index in articles
          .card-body
            span.card-title(style="color: #85CFCB;float:left;")= article.title
            span.card-text(style="margin-left:15px;color:#DBD8E3;")= article.description.substring(0,100)+"..."
            span(style="margin-left:15px;color:#5F85DB;")= article.createdAt.toLocaleDateString()
            a.btn(href=`articles/${article.slug}`, style="float:right") Read More
            hr
